//Main configs

html {
  min-height: 100%;
  height: auto;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: $font-primary;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1277px;
  margin: 0 auto;
  padding: 0 30px;
}