//Main configs

html {
  min-height: 100%;
  height: auto;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: $font-default;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;

  @include media('min', 'lg') {
    font-size: 18px;
    line-height: 28px;
  }
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1277px;
  margin: 0 auto;
  padding: 0 16px;

  &-sm {
    max-width: 1056px;
  }

  &-lg {
    max-width: 1432px;
  }
}
