.gallery {
    color: $color-night;
    padding: 64px 0;
    text-align: center;

    @include media('min', 'lg') {
        padding: 157px 0 229px 0;
    }

    h2 {
        margin-bottom: 23px;
    }

    p {
        max-width: 511px;
        margin-left: auto;
        margin-right: auto;
        color: $color-grey-dark;
    }

    .list {
        max-width: 1164px;
        margin: 63px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        
        @include media('max', 'lg') {
            grid-template-columns: repeat(2, 1fr);
            gap: 14px;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        @include media('max', 'lg') {
            gap: 14px;
        }
    }

    .item img {
        display: block;
        object-fit: cover;
        border-radius: 10px;
        overflow: hidden;
    }

    .item:nth-child(1) img:nth-child(1) {
        aspect-ratio: 37 / 53;
    }

    .item:nth-child(1) img:nth-child(2) {
        aspect-ratio: 37 / 21;
    }

    .item:nth-child(2) img:nth-child(1) {
        aspect-ratio: 37 / 21;
    }

    .item:nth-child(2) img:nth-child(2) {
        aspect-ratio: 37 / 53;
    }

    .item:nth-child(3) {
        @include media('max', 'lg') {
            grid-column: 1 / -1;
            flex-direction: row;
        }
    }

    .item:nth-child(3) img:nth-child(1) {
        aspect-ratio: 1 / 1;
    }

    .item:nth-child(3) img:nth-child(2) {
        aspect-ratio: 1 / 1;
    }
}