.path {
    padding: 64px 0;
    color: $color-night;
    background-color: $color-sky;
    text-align: left;

    @include media('min', 'lg') {
        padding: 110px 0;
    }

    ul {
        counter-reset: item;
        max-width: 1124px;
        margin: 0 auto;
    }

    li {
        display: flex;
        gap: 8px;
        position: relative;
        flex-direction: row;
        counter-increment: item;

        @include media('min', 'sm') {
            gap: 24px;
        }

        @include media('min', 'lg') {
            gap: 44px;
        }

        &:not(:last-child) {
            padding-bottom: 32px;

            @include media('min', 'lg') {
                padding-bottom: 50px;
            }

            &::after {
                content: '';
                position: absolute;
                left: 27px;
                top: 0;
                bottom: 0;
                width: 4px;
                background: rgba(21, 20, 57, 0.4);
                opacity: .3;
                z-index: 1;

                @include media('max', 'lg') {
                    left: 18px;
                }
            }
        }

        &::before {
            content: counter(item);
            flex-shrink: 0;
            background: #DD2242;
            width: 58px;
            height: 58px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 26px;
            line-height: 38px;
            color: $color-white;
            z-index: 2;

            @include media('max', 'lg') {
                left: 18px;
                width: 40px;
                height: 40px;
                font-size: 20px;
                line-height: 24px;
            }
        }

        .item {
            padding-top: 14px;

            @include media('max', 'lg') {
                padding-top: 0;
            }

            &-block {
                display: flex;
                gap: 45px;
                margin-top: 100px;

                @include media('max', 'lg') {
                    flex-direction: column;
                }

                img {
                    max-width: 250px;
                    height: 166px;
                    object-fit: cover;
                    object-position: 50% 70%;
                    border-radius: 7px;
                    flex-shrink: 0;

                    @include media('max', 'sm') {
                        margin: 0 auto;
                    }
                }

                h5 {
                    margin-bottom: 20px;
                }
            }

            &-info {
                max-width: 455px;

                @include media('max', 'lg') {
                    max-width: 100%;
                }
            }
        }

        p {
            font-size: 23px;
            line-height: 38px;
            color: rgba(21, 20, 57, 0.4);

            @include media('max', 'lg') {
                font-size: inherit;
                line-height: inherit;
            }
        }
    }
}