.stats {
    color: $color-night;
    background: url('../../assets/images/mountain.webp') no-repeat 50% 100% / cover;

    @include media('min', 'xxl') {
        background: url('../../assets/images/mountain.webp') no-repeat 50% 50% / cover;
    }

    .top {
        min-height: 800px;
        padding-top: 25px;

        @include media('min', 'lg') {
            min-height: 1406px;
            padding-top: 110px;
        }
    }

    .container {
        padding: 0 31px;

        @include media('min', 'xxl') {
            padding: 0 16px;
        }
    }

    h3 {
        text-align: center;
    }

    .gallery-slider {
        position: relative;
    }

    .swiper {
        border-radius: 10px;
        overflow: hidden;
    }

    .swiper-slide {
        border-radius: 10px;
        overflow: hidden;
        height: 200px;

        @include media('min', 'md') {
            height: 257px;
        }

        img {
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-pagination {
        position: static;
        display: flex;
        justify-content: center;
        margin-top: 28px;

        &-bullet {
            width: 19px;
            height: 19px;
            margin: 0 8px !important;
            background-color: $color-bullet;
            opacity: 1;
            transition: $transition-default;
        }

        &-bullet-active {
            width: 50px;
            height: 19px;
            background: $color-error;
            border-radius: 60px;
        }
    }

    .arrow {
        width: 15px;
        cursor: pointer;

        &-prev,
        &-next {
            position: absolute;
            top: 90px;

            @include media('min', 'md') {
                top: 117px;
            }
        }

        &-prev {
            left: -11px;
            transform: translateX(-100%);

            @include media('min', 'xxl') {
                left: -63px;
            }
        }

        &-next {
            right: -11px;
            transform: translateX(100%) rotate(180deg);

            @include media('min', 'xxl') {
                right: -63px;
            }
        }

        &:hover {
            filter: brightness(0) saturate(100%)
                invert(19%)
                sepia(94%)
                saturate(4476%)
                hue-rotate(340deg)
                brightness(91%)
                contrast(101%);
        }
    }

    .bottom {
        background-color: rgba($color-night, 0.9);
        padding: 70px 0;
        color: $color-white;
        text-align: center;

        @include media('min', 'xl') {
            padding: 181px 0 213px 0;
        }

        .description {
            max-width: 484px;
            margin-left: auto;
            margin-right: auto;
        }

        .row {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 50px;

            @include media('min', 'sm') {
                flex-direction: row;
                align-items: flex-start;
                gap: 15px;
            }
        }

        .col {
            max-width: 350px;
            margin-bottom: 0;

            h4 {
                margin-bottom: 19px;
                color: $color-error;
            }
        }
    }
}