.stories {
    padding: 40px 0 40px 0;
    color: $color-white;
    background-color: $color-night;

    @include media('min', 'lg') {
        padding: 207px 0 305px 0;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        justify-content: space-between;

        &:not(:last-of-type) {
            margin-bottom: 56px;
        }

        @include media('min', 'lg') {
            flex-direction: row;
            gap: 130px;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            &:not(:last-of-type) {
                margin-bottom: 192px;
            }
        }

        img {
            max-width: 630px;
            border-radius: 10px;
            overflow: hidden;
        }

        .right-col {
            flex-shrink: 0;
            max-width: 480px;
            width: 100%;
        }

        .description {
            @include media('min', 'xl') {
               max-width: 408px;
            }
        }
    }
}