$font-primary: "DM Sans", sans-serif;
$font-secondary: "Roboto", sans-serif;

$color-white: #FFF;
$color-grey-light: #939393;
$color-grey-dark: #6F7787;
$color-dark: #000;
$color-pink: #E93A7D;
$color-error: #DD2242;
$color-sky: #DCE8F2;
$color-error-hover: darken($color-error, 8%);
$color-night: #010A20;
$color-bullet: #85A3B2;

$transition-default: all .3s ease-in-out;
$box-shadow-default: 0 6px 16px rgba(221, 34, 66, 0.3);