section.video {
    color: $color-white;
    padding: 83px 0;

    @include media('min', 'lg') {
        padding: 141px 0 255px 0;
    }

    h4 {
        text-align: center;
        max-width: 1056px;
        margin-left: auto;
        margin-right: auto;
    }

    .video {
        position: relative;
        max-width: 1056px;
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;

        .play-btn {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 67px;
            height: 67px;
            border-radius: 50%;
            background-color: $color-pink;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media('min', 'lg') {
                width: 96px;
                height: 96px;
            }

            img {
                width: 16px;
            }
        }
    }

    ul {
        margin-top: 40px;
        display: grid;
        gap: 75px;

        @include media('min', 'lg') {
            margin-top: 125px;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        }
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        @include media('min', 'lg') {
            flex-direction: row;
            align-items: flex-start;
        }

        img {
            max-width: 400px;
            width: 100%;
            height: auto;
            object-fit: cover;
            flex-shrink: 0;
            border-radius: 5px;
            overflow: hidden;

            @include media('min', 'lg') {
                max-width: unset;
                width: 233px;
                height: 151px;
            }
        }
    }

    .col {
        .title {
            font-weight: 700;
            margin-bottom: 15px;
            text-align: center;

            @include media('min', 'lg') {
                text-align: left;
            }
        }

        .description {
            opacity: 0.7;
            text-align: center;

            @include media('min', 'lg') {
                text-align: left;
            }
        }
    }
}